.App {
  text-align: center;
}

.input {
  width: 500px;
  height: 30px;
  font-size:20px;
  text-align:center;
  font-family:'Russo One',sans-serif;
  color: #989797;
  margin-right: auto;
  margin-left: auto;
}

.button1 {
  height: 36px;
  font-size:20px;
  font-family:'Russo One', sans-serif;
  margin-right: auto;
  margin-left: auto;
}

.button2 {
  height: 26px;
  font-size:14px;
  font-family:'Russo One', sans-serif;
  margin-right: auto;
  margin-left: auto;
}

